DATABASE_URL="postgresql://osta:osta@localhost:5432/osta"
REDIS_URL="redis://localhost:6379"
PORT=4000
NODE_ENV="development"
JWT_SECRET="change-me"
JWT_REFRESH_SECRET="change-me-too"
APP_URL="http://localhost:3000"
OSTA_API_URL="http://localhost:4000/api"
NEXT_PUBLIC_OSTA_API_URL="http://localhost:4000/api"
